{% extends 'base.html' %}
{% load static %}
{% block title %}
    home
{% endblock title %}

    {% block others %}
     <script src="{% static 'js/index.js' %}"></script>
    {% endblock others %}



{% block content %}
<div class="container">
    <nav class="navbar">
        <div class="left">
            <img src="{% static 'netflix-logo.png'%}" alt="">
        </div>
        <div class="right">
            <select name="language" class="language">
                <option value="en">English</option>
                <option value="es">Spanish</option>
                <option value="fr">French</option>
                <option value="de">German</option>
                <option value="it">Italian</option>
                <option value="ja">Japanese</option>
                <option value="ko">Korean</option>
                <option value="pt">Portuguese</option>
                <option value="ru">Russian</option>
                <option value="zh">Chinese</option>
            </select>
            <button><a href="#">Sign In</a></button>
        </div>
    </nav>

    <div class="title">
        <div class="content">
            <h1>Unlimited movies, TV shows and more.</h1>
            <h2>watch anywhere. Cancel anytime.</h2>
            <form action="#">
                <h3>Ready to watch? Enter your email to create or restart your membership</h3>
                <div class="email">
                    <input type="email" name="email" id="" placeholder="Email address">
                    <button><a href="#">Get Started</a></button>
                </div>
            </form>
        </div>
    </div>

    <footer class="footer">
        <!-- <p>Questions? Call 1-866-579-7172</p> -->
        <div class="footer-cols">
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Investor Relations</a></li>
                <li><a href="#">Ways To Watch</a></li>
                <li><a href="#">Corporate Information</a></li>
                <li><a href="#">Netflix Originals</a></li>
            </ul>
            <ul>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Terms Of Use</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <ul>
                <li><a href="#">Account</a></li>
                <li><a href="#">Redeem Gift Cards</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Speed Test</a></li>
            </ul>
            <ul>
                <li><a href="#">Media Center</a></li>
                <li><a href="#">Buy Gift Cards</a></li>
                <li><a href="#">Cookie Preferences</a></li>
                <li><a href="#">Legal Notices</a></li>
            </ul>
        </div>
    
    </footer>

</div>
{% endblock content %}    